main {
  background-image: url("/assets/top-view-desk-with-keyboard-drawing-pad.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
 
}
h1,
.container {
  background-color: transparent;
}
h1 {
  color: white;
  font-size: 48px;
}
.explore {
  width: 223px;
  height: 75px;
  font-size: 20px;
  background-color: #ffb870;
  color: #1d0000;
  border-radius: 72px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 200px 0 100px 0;
}
p {
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 80px;
}

@media screen and (max-width: 1024px) {

  .container {
    margin: 150px 0;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 70px 0;
    gap: 10px;
  }
  h1 {
    font-size: 18px;
  }
  .explore {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
  p {
    margin: 40px;
  }
}
