nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  width: 100%;
  border-bottom: white 1px solid;
  padding: 45px 35px;
}
nav,
h2,
.nav-links,
.nav-links li,
.nav-links li a,
button {
  background-color: transparent;
  color: white;
}
h2 {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-links li a:hover {
  color: #bbb;
}
button {
  width: 36px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    font-size: 20px;
  }
  .nav-links {
    gap: 15px;
  }
  .nav-links li a {
    font-size: 14px;
  }
}
